In [7]:
import pandas as pd

In [8]:
filepath = "data/"
train = pd.read_csv(filepath + "train.csv")
test = pd.read_csv(filepath + "test.csv")

In [9]:
train.head()

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.439424e+14,5651416,F,2016-05-03T08:47:46Z,2016-05-03T00:00:00Z,5,ITARARÉ,0,0,0,0,0,0
1,No,2.525147e+11,5683687,M,2016-05-11T07:46:04Z,2016-05-11T00:00:00Z,29,NOVA PALESTINA,0,0,0,0,1,0
2,No,7.329774e+13,5604719,F,2016-04-20T08:15:21Z,2016-05-16T00:00:00Z,48,JESUS DE NAZARETH,0,0,0,1,0,0
3,Yes,2.737400e+13,5548139,M,2016-04-06T08:08:58Z,2016-05-09T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,0
4,No,1.777157e+13,5729822,F,2016-05-24T07:52:57Z,2016-05-24T00:00:00Z,68,PIEDADE,0,1,1,0,0,0

In [10]:
train.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,7.073600e+04,7.073600e+04,70736.000000,70736.000000,70736.000000,70736.000000,70736.000000,70736.000000,70736.000000
mean,1.479324e+14,5.675340e+06,37.106608,0.099299,0.197636,0.072014,0.030480,0.022379,0.321350
std,2.564923e+14,7.140205e+04,23.080635,0.299065,0.398219,0.258513,0.171904,0.162053,0.466998
min,3.921784e+04,5.030230e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.143725e+12,5.640499e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680842e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.458326e+13,5.725678e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790481e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70736 entries, 0 to 70735
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No-show         70736 non-null  object
 1   PatientId       70736 non-null  float64
 2   AppointmentID   70736 non-null  int64
 3   Gender          70736 non-null  object
 4   ScheduledDay    70736 non-null  object
 5   AppointmentDay  70736 non-null  object
 6   Age             70736 non-null  int64
 7   Neighbourhood   70736 non-null  object
 8   Scholarship     70736 non-null  int64
 9   Hipertension    70736 non-null  int64
 10  Diabetes        70736 non-null  int64
 11  Alcoholism      70736 non-null  int64
 12  Handcap         70736 non-null  int64
 13  SMS_received    70736 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 7.6+ MB

In [12]:
train.tail()

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
70731,No,8.293328e+14,5773773,F,2016-06-06T07:31:09Z,2016-06-06T00:00:00Z,58,JARDIM CAMBURI,0,0,0,0,0,0
70732,Yes,3.385828e+13,5417319,F,2016-03-01T17:48:50Z,2016-05-12T00:00:00Z,51,JARDIM CAMBURI,0,0,0,0,0,1
70733,No,1.388679e+12,5752843,F,2016-05-31T12:53:24Z,2016-06-02T00:00:00Z,77,JABOUR,0,0,0,0,0,0
70734,Yes,9.686748e+12,5588396,F,2016-04-15T09:55:26Z,2016-05-11T00:00:00Z,22,MÁRIO CYPRESTE,0,0,0,0,0,0
70735,No,2.859380e+13,5656339,M,2016-05-04T07:56:43Z,2016-05-04T00:00:00Z,37,ILHA DO PRÍNCIPE,0,0,0,0,0,0

In [17]:
train.select_dtypes(exclude=["number"]).describe()

,No-show,Gender,ScheduledDay,AppointmentDay,Neighbourhood
count,70736,70736,70736,70736,70736
unique,2,2,67686,27,81
top,No,F,2016-04-25T17:17:46Z,2016-06-06T00:00:00Z,JARDIM CAMBURI
freq,56416,45941,17,3008,4977

# Prime analisi e pulizia dati
Da una prima analisi si osserva come le colonne `PatientId` e `AppointmentId` sono delle chiavi in un ipotetica relazione M-N tra paziente e appuntamento, quindi si possono scartare visto che non altrerebbero il risultato. 

Inoltre si nota che nelle date non è necessario mantenere l'ora visto che l'appuntamento effettivo non mantiene questa informazione. Inoltre si scartano gli orari poiché in alcuni casi sembra che venga registrato prima l'appuntamento e poi la prenotazione. 
Infatti osservando l'output seguente si vede che lo `scheduledDay` viene DOPO l'`appointmentDay`. Probabilmente è un informazione mancante o siccome avviene nello stesso giorno probabilmente l'orario è uguale per entrambi. 
In ogni caso, si preferisce eliminare l'orario perché non aggiunge contenuto informativo.

In [24]:
train.loc[70731][["ScheduledDay", "AppointmentDay"]]

ScheduledDay      2016-06-06T07:31:09Z
AppointmentDay    2016-06-06T00:00:00Z
Name: 70731, dtype: object

Inoltre si aggiunge una colonna chiamata `waitDays` che conterrà un valore numerico che indica i giorni che si è atteso tra la prenotazione e l'appuntamento effettivo

In [43]:
train.ScheduledDay = pd.to_datetime(train['ScheduledDay']).dt.date
train.AppointmentDay = pd.to_datetime(train['AppointmentDay']).dt.date
train["WaitDays"] = train.AppointmentDay - train.ScheduledDay
train["WaitDays"] = train["WaitDays"].dt.days

train = train.drop(labels=["AppointmentID", "PatientId"], axis=1)